system {
    host-name {{host_name}};
    root-authentication {
        encrypted-password "$1$1YjdBnPl$/vkiMRkDbY0bXsC5G8RPK/"; ## SECRET-DATA
    }


{# Services #}

services {
  dhcp {
    router {
      {{dhcp.router_ip}};
          }
    pool {{dhcp.pool_ip}}/{{dhcp.pool_mask}} {
      address-range low {{dhcp.range_low}} high {{dhcp.range_high}};
      maximum-lease-time 3600;
      default-lease-time 3600;

          }
      }
  }
}

{# Interface setup #}
interfaces {
    {% for item in interfaces %}
    {{ item.name }}  {
        description "{{ item.description }}";
        unit 0 {
          family {{item.inet}} {
                address {{ item.ip_address }}/{{item.mask}};
            }

        }

    }
  {% endfor %}
  }

{#   Port mirroring setup    #}

interfaces {
    {{ mirror.name }}  {
        description "{{ mirror.description }}";
        unit 0 {
          family {{mirror.inet}} {
            {{mirror.filter}} {
              {{mirror.input}} {{mirror.filtname}};
                {{mirror.output}} {{mirror.filtname}};
                }
                address {{ mirror.ip_address }}/{{mirror.mask}};
            }

        }

    }

}

forwarding-options {
  port-mirroring {
    input {
      rate 1;
      run-length 10;
    }
        family inet {
            output {
                interface {{monitor.iface}} {
                    next-hop {{monitor.nexthop}};
                }
            }
        }
    }
}

firewall {
    filter {{mirror.filtname}} {
        term {{firewall.termname}} {
            from {
                source-address {
                    {{firewall.address}};
                }
            }
            then {
                port-mirror;
                {{firewall.action}};
            }
        }
    }
}
