system {
    host-name {{host_name}};
    root-authentication {
        encrypted-password "$1$1YjdBnPl$/vkiMRkDbY0bXsC5G8RPK/"; ## SECRET-DATA
    }
  }
interfaces {
    {{router.interface}} {
        unit {{router.unit_num}} {
            family {{router.family}} {
                address {{router.ip}}/{{router.mask}};
            }
        }
    }
    {{interface.name}} {
       unit {{interface.unit_num}} {
           family {{interface.family}} {
               address {{interface.ip}}/{{interface.mask}};
           }
       }
   }
   {{interface2.name}} {
      unit {{interface2.unit_num}} {
          family {{interface2.family}} {
              address {{interface2.ip}}/{{interface2.mask}};
          }
      }
  }
}
