system 
   {
    host-name {{host_name}};
    root-authentication {
        encrypted-password "$1$1YjdBnPl$/vkiMRkDbY0bXsC5G8RPK/"; ## SECRET-DATA
   }

{# Interface setup #}
interfaces 
{
    {% for item in interfaces %}
    {{item.name}}  
	{
        description "{{item.description}}";
        unit {{item.unit}} 
		{
          family {{item.inet}} 
			{
                address {{item.ip_address}}/{{item.mask}};
            		}
        	}
  	}
  {% endfor %}
 }
